<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
        <!-- 命名空间 -->
    <typeAliases>
         <typeAlias alias="PriceTag" type="cn.springmvc.model.PriceTag"/>
         <typeAlias alias="DailySalesAnalysis" type="cn.springmvc.model.DailySalesAnalysis"/>
    	 <typeAlias alias="LastYearTrafficAnalysis" type="cn.springmvc.model.LastYearTrafficAnalysis"/>
    	 <typeAlias alias="ThisYearTrafficAnalysis" type="cn.springmvc.model.ThisYearTrafficAnalysis"/>
    	 <typeAlias alias="SaleTopAnalysis" type="cn.springmvc.model.SaleTopAnalysis"/>
    	 <typeAlias alias="UserAnalysis" type="cn.springmvc.model.UserAnalysis"/>
    </typeAliases>

    <!-- 映射map -->
    <mappers>
    </mappers>
</configuration>