<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.springmvc.daoAdmin.FeedBackDao">

	<insert id="addFeedBack" parameterType="FeedBack">
		INSERT INTO feedback (
		`userId`,
		`topic`,
		`contant`,
		`date`
		)
		VALUES
		(
		#{userId},
		#{topic},
		#{contant},
		#{date}
		)
	</insert>


	<select id="getfeedback" resultType="FeedBack">
	SELECT
		feedback.id,
		admin. name,
		admin.realName,
		feedback.topic,
		feedback.contant,
		feedback.date
	FROM
		admin,
		feedback
	WHERE
		feedback.userId = admin.id
	</select>


	<delete id="deletefeedback" parameterType="FeedBack">
		DELETE from feedback where id = #{id}
	</delete>
	
		<delete id="deletefeedbackAll">
			DELETE from feedback
	</delete>
</mapper>