<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.springmvc.daoAdmin.LoginDao">

	<select id="userVerify" resultType="Admin">
		SELECT
		*
		FROM admin
		WHERE
		`name`
		= #{0}
		AND `pwd` = #{1}
	</select>

	<update id="changePwd">
		UPDATE admin
		SET pwd = #{1}
		WHERE
		id = #{0}
	</update>

	<update id="changeInfo" parameterType="Admin">
		UPDATE admin
		SET name =
		#{name},
		realName = #{realName}
		WHERE
		id = #{id}
	</update>

	<select id="getSys" resultType="GSystem">
		SELECT
		b.*
		FROM
		`level` a,`system` b
		WHERE
		a.adminId = #{0}
		AND a.sysId = b.sysId
	</select>


	<select id="permissionsContent" resultType="PermissionsModel">
		SELECT
			admin.id,
			admin. NAME,
			admin.realName,
			admin.role
		FROM
			admin
	</select>

	<select id="getsysIds" resultType ="Integer">
		SELECT
			sysId
		FROM
			`level`
		WHERE
			`level`.adminId = #{0}
	</select>
	
	<insert id="addUser" parameterType="UserInfoModel">
		INSERT INTO admin (name, realName, pwd)
		VALUES
			(#{name} , #{realName}, #{pwd} )
	</insert>


	<update id="modefiedInfo" parameterType="UserInfoModel">
		UPDATE admin
		SET name =
		#{name},
		realName = #{realName}
		WHERE
		id = #{id}
	</update>
	
		<update id="modefiedPWD" parameterType="UserInfoModel">
		UPDATE admin
		SET pwd =
		#{pwd}
		WHERE
		id = #{id}
	</update>

		<update id="modefiedRole" parameterType="UserInfoModel">
		UPDATE admin
		SET role =
		#{role}
		WHERE
		id = #{id}
	</update>


	<insert id="modefiedPermissionsAdd" parameterType="UserInfoModel">
		INSERT INTO `level` (adminId, sysId)
		VALUES
			(#{id} , #{sysId})
	</insert>
	
	<delete id="modefiedPermissionsRemove" parameterType="UserInfoModel">
		DELETE
		FROM
			`level`
		WHERE
			`level`.adminId = #{id}
		AND `level`.sysId = #{sysId}
	</delete>

</mapper>